
.gradle/1.12/taskArtifacts/cache.properties.lock

*.bin

*.class

*.dex

*.apk

.gradle/1.12/taskArtifacts/fileHashes.bin

.gradle/1.12/taskArtifacts/fileSnapshots.bin

.gradle/1.12/taskArtifacts/taskArtifacts.bin

.idea/modules.xml

.idea/workspace.xml

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$1.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$2.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$3.class

.gradle/1.12/taskArtifacts/fileSnapshots.bin

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$3.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$2.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$1.class

.idea/workspace.xml

.idea/modules.xml

.gradle/1.12/taskArtifacts/taskArtifacts.bin

.gradle/1.12/taskArtifacts/fileSnapshots.bin

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$4.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$5.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$6.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity$7.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/MainActivity.class

app/build/intermediates/dex/debug/classes.dex

app/build/outputs/apk/app-debug-unaligned.apk

app/build/outputs/apk/app-debug.apk
