
.gradle/1.12/taskArtifacts/cache.properties.lock

*.bin

*.class

*.dex

*.apk

.gradle/1.12/taskArtifacts/fileHashes.bin

.gradle/1.12/taskArtifacts/fileSnapshots.bin

.gradle/1.12/taskArtifacts/taskArtifacts.bin

.idea/modules.xml

.idea/workspace.xml

build/

app/build/

.idea/workspace.xml

.idea/modules.xml

.gradle/1.12/taskArtifacts/taskArtifacts.bin

.gradle/1.12/taskArtifacts/fileSnapshots.bin


app/build/generated/source/r/debug/android/support/v7/appcompat/R.java

app/build/generated/source/r/debug/com/google/android/gms/R.java

app/build/generated/source/r/debug/com/ridgway/smsautoresponder/R.java

app/build/intermediates/classes/debug/android/support/v7/appcompat/R$style.class

app/build/intermediates/classes/debug/com/google/android/gms/R$style.class

app/build/intermediates/classes/debug/com/google/android/gms/R$styleable.class

app/build/intermediates/classes/debug/com/google/android/gms/R.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/R$style.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/R$styleable.class

app/build/intermediates/classes/debug/com/ridgway/smsautoresponder/R$xml.class

app/build/intermediates/incremental/mergeAssets/debug/merger.xml

app/build/intermediates/incremental/mergeResources/debug/merger.xml

app/build/intermediates/libs/app-debug.ap_

app/build/intermediates/res/debug/anim/abc_fade_in.xml

app/build/intermediates/res/debug/anim/abc_fade_out.xml

app/build/intermediates/res/debug/anim/abc_slide_in_bottom.xml

app/build/intermediates/res/debug/anim/abc_slide_in_top.xml

app/build/intermediates/res/debug/anim/abc_slide_out_bottom.xml

app/build/intermediates/res/debug/anim/abc_slide_out_top.xml

app/build/intermediates/res/debug/color/abc_search_url_text_holo.xml

app/build/intermediates/res/debug/color/common_signin_btn_text_dark.xml

app/build/intermediates/res/debug/color/common_signin_btn_text_light.xml

app/build/intermediates/res/debug/color/wallet_primary_text_holo_light.xml

app/build/intermediates/res/debug/color/wallet_secondary_text_holo_dark.xml

app/build/intermediates/res/debug/drawable/ab_background_textured_smsautoresponder.xml

app/build/intermediates/res/debug/drawable/abc_ic_clear.xml

app/build/intermediates/res/debug/drawable/abc_ic_clear_holo_light.xml

app/build/intermediates/res/debug/drawable/abc_item_background_holo_dark.xml

app/build/intermediates/res/debug/drawable/abc_item_background_holo_light.xml

app/build/intermediates/res/debug/drawable/abc_list_selector_background_transition_holo_dark.xml

app/build/intermediates/res/debug/drawable/abc_list_selector_background_transition_holo_light.xml

app/build/intermediates/res/debug/drawable/abc_list_selector_holo_dark.xml

app/build/intermediates/res/debug/drawable/abc_list_selector_holo_light.xml

app/build/intermediates/res/debug/drawable/abc_search_dropdown_dark.xml

app/build/intermediates/res/debug/drawable/abc_search_dropdown_light.xml

app/build/intermediates/res/debug/drawable/abc_spinner_ab_holo_dark.xml

app/build/intermediates/res/debug/drawable/abc_spinner_ab_holo_light.xml

app/build/intermediates/res/debug/drawable/abc_tab_indicator_ab_holo.xml

app/build/intermediates/res/debug/drawable/abc_textfield_searchview_holo_dark.xml

app/build/intermediates/res/debug/drawable/abc_textfield_searchview_holo_light.xml

app/build/intermediates/res/debug/drawable/abc_textfield_searchview_right_holo_dark.xml

app/build/intermediates/res/debug/drawable/abc_textfield_searchview_right_holo_light.xml

app/build/intermediates/res/debug/drawable/btn_cab_done_smsautoresponder.xml

app/build/intermediates/res/debug/drawable/common_signin_btn_icon_dark.xml

app/build/intermediates/res/debug/drawable/common_signin_btn_icon_light.xml

app/build/intermediates/res/debug/drawable/common_signin_btn_text_dark.xml

app/build/intermediates/res/debug/drawable/common_signin_btn_text_light.xml

app/build/intermediates/res/debug/drawable/progress_horizontal_smsautoresponder.xml

app/build/intermediates/res/debug/drawable/selectable_background_smsautoresponder.xml

app/build/intermediates/res/debug/drawable/spinner_background_ab_smsautoresponder.xml

app/build/intermediates/res/debug/drawable/tab_indicator_ab_smsautoresponder.xml

app/build/intermediates/res/debug/layout-v11/abc_action_bar_decor.xml

app/build/intermediates/res/debug/layout-v14/abc_activity_chooser_view.xml

app/build/intermediates/res/debug/layout/abc_action_bar_decor.xml

app/build/intermediates/res/debug/layout/abc_action_bar_decor_include.xml

app/build/intermediates/res/debug/layout/abc_action_bar_decor_overlay.xml

app/build/intermediates/res/debug/layout/abc_action_bar_home.xml

app/build/intermediates/res/debug/layout/abc_action_bar_tab.xml

app/build/intermediates/res/debug/layout/abc_action_bar_tabbar.xml

app/build/intermediates/res/debug/layout/abc_action_bar_title_item.xml

app/build/intermediates/res/debug/layout/abc_action_bar_view_list_nav_layout.xml

app/build/intermediates/res/debug/layout/abc_action_menu_item_layout.xml

app/build/intermediates/res/debug/layout/abc_action_menu_layout.xml

app/build/intermediates/res/debug/layout/abc_action_mode_bar.xml

app/build/intermediates/res/debug/layout/abc_action_mode_close_item.xml

app/build/intermediates/res/debug/layout/abc_activity_chooser_view.xml

app/build/intermediates/res/debug/layout/abc_activity_chooser_view_include.xml

app/build/intermediates/res/debug/layout/abc_activity_chooser_view_list_item.xml

app/build/intermediates/res/debug/layout/abc_expanded_menu_layout.xml

app/build/intermediates/res/debug/layout/abc_list_menu_item_checkbox.xml

app/build/intermediates/res/debug/layout/abc_list_menu_item_icon.xml

app/build/intermediates/res/debug/layout/abc_list_menu_item_layout.xml

app/build/intermediates/res/debug/layout/abc_list_menu_item_radio.xml

app/build/intermediates/res/debug/layout/abc_popup_menu_item_layout.xml

app/build/intermediates/res/debug/layout/abc_search_dropdown_item_icons_2line.xml

app/build/intermediates/res/debug/layout/abc_search_view.xml

app/build/intermediates/res/debug/layout/activity_main.xml

app/build/intermediates/res/debug/layout/activity_settings.xml

app/build/intermediates/res/debug/layout/fragment_duration_picker_dialog.xml

app/build/intermediates/res/debug/layout/listview_oneline_layout.xml

app/build/intermediates/res/debug/layout/numberpicker_dialog.xml

app/build/intermediates/res/debug/layout/support_simple_spinner_dropdown_item.xml

app/build/intermediates/res/debug/menu/main.xml

app/build/intermediates/res/debug/menu/settings.xml

app/build/intermediates/res/debug/values-af/values.xml

app/build/intermediates/res/debug/values-am/values.xml

app/build/intermediates/res/debug/values-ar/values.xml

app/build/intermediates/res/debug/values-be/values.xml

app/build/intermediates/res/debug/values-bg/values.xml

app/build/intermediates/res/debug/values-ca/values.xml

app/build/intermediates/res/debug/values-cs/values.xml

app/build/intermediates/res/debug/values-da/values.xml

app/build/intermediates/res/debug/values-de/values.xml

app/build/intermediates/res/debug/values-el/values.xml

app/build/intermediates/res/debug/values-en-rGB/values.xml

app/build/intermediates/res/debug/values-en-rIN/values.xml

app/build/intermediates/res/debug/values-en/values.xml

app/build/intermediates/res/debug/values-es-rUS/values.xml

app/build/intermediates/res/debug/values-es/values.xml

app/build/intermediates/res/debug/values-et-rEE/values.xml

app/build/intermediates/res/debug/values-fa/values.xml

app/build/intermediates/res/debug/values-fi/values.xml

app/build/intermediates/res/debug/values-fr-rCA/values.xml

app/build/intermediates/res/debug/values-fr/values.xml

app/build/intermediates/res/debug/values-hi/values.xml

app/build/intermediates/res/debug/values-en-rIN/values.xml

app/build/intermediates/res/debug/values-hu/values.xml

app/build/intermediates/res/debug/values-hy-rAM/values.xml

app/build/intermediates/res/debug/values-in/values.xml

app/build/intermediates/res/debug/values-hr/values.xml

app/build/intermediates/res/debug/values-it/values.xml

app/build/intermediates/res/debug/values-iw/values.xml

app/build/intermediates/res/debug/values-ja/values.xml

app/build/intermediates/res/debug/values-ka-rGE/values.xml

app/build/intermediates/res/debug/values-km-rKH/values.xml

app/build/intermediates/res/debug/values-ko/values.xml

app/build/intermediates/res/debug/values-land/values.xml

app/build/intermediates/res/debug/values-large-v4/values.xml

app/build/intermediates/res/debug/values-nb/values.xml

app/build/intermediates/res/debug/values-land/values.xml

app/build/intermediates/res/debug/values-lv/values.xml

app/build/intermediates/res/debug/values-lo-rLA/values.xml

app/build/intermediates/res/debug/values-lt/values.xml

app/build/intermediates/res/debug/values-mn-rMN/values.xml

app/build/intermediates/res/debug/values-ms-rMY/values.xml

app/build/intermediates/res/debug/values-nl/values.xml

app/build/intermediates/res/debug/values-pl/values.xml

app/build/intermediates/res/debug/values-pt-rBR/values.xml

app/build/intermediates/res/debug/values-pt-rPT/values.xml

app/build/intermediates/res/debug/values-pt/values.xml

app/build/intermediates/res/debug/values-ro/values.xml

app/build/intermediates/res/debug/values-ru/values.xml

app/build/intermediates/res/debug/values-sk/values.xml

app/build/intermediates/res/debug/values-sl/values.xml

app/build/intermediates/res/debug/values-sr/values.xml

app/build/intermediates/res/debug/values-sv/values.xml

app/build/intermediates/res/debug/values-sw/values.xml

app/build/intermediates/res/debug/values-sw600dp-v13/values.xml

app/build/intermediates/res/debug/values-th/values.xml

app/build/intermediates/res/debug/values-tl/values.xml

app/build/intermediates/res/debug/values-tr/values.xml

app/build/intermediates/res/debug/values-uk/values.xml

app/build/intermediates/res/debug/values-v11/values.xml

app/build/intermediates/res/debug/values-th/values.xml

app/build/intermediates/res/debug/values-vi/values.xml

app/build/intermediates/res/debug/values-v14/values.xml

app/build/intermediates/res/debug/values-w360dp-v13/values.xml

app/build/intermediates/res/debug/values-w480dp-v13/values.xml

app/build/intermediates/res/debug/values-w500dp-v13/values.xml

app/build/intermediates/res/debug/values-w600dp-v13/values.xml

app/build/intermediates/res/debug/values-w720dp-v13/values.xml

app/build/intermediates/res/debug/values-w820dp-v13/values.xml

app/build/intermediates/res/debug/values-xlarge-v4/values.xml

app/build/intermediates/res/debug/values-zh-rCN/values.xml

app/build/intermediates/res/debug/values-zh-rHK/values.xml

app/build/intermediates/res/debug/values-zh-rTW/values.xml

app/build/intermediates/res/debug/values-zu/values.xml

app/build/intermediates/res/debug/values/values.xml

app/build/intermediates/res/debug/xml/preferences_panel.xml

app/build/intermediates/res/debug/xml/prefs_headers.xml

app/build/intermediates/res/debug/xml/responses_panel.xml

app/build/intermediates/symbols/debug/R.txt

build/intermediates/dex-cache/cache.xml

build/intermediates/model_data.bin
